@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&display=swap');



#container{
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    background-size: cover;    
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: 'Kumbh Sans', sans-serif;
    
}




.card{
    height: 510px;
    width: 920px;
    background-color: whitesmoke;
    border-radius: 10px;
    position: relative;
    align-self: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.card-inner{
    margin-top: 60px;
    margin-right: 60px;
    
}

.women{
    background-image: url(/images/illustration-woman-online-desktop.svg);
    justify-content: center;
    padding-right: 20px;
    position: absolute;
    left: -80px; 
    width: 400px;
    height: 359px;
}
.women::after{
    background-image: url(/images/illustration-box-desktop.svg);
    z-index: 2;
    left: -80px; 
    width: 400px;
    height: 359px;
}

.text{
    text-align: right;
    max-height: 510px;
    max-width: 460px;
    align-items: right;
    float: right;
    position: relative;
 
}  
