@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&display=swap');



#container{
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    background-size: cover;    
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: 'Kumbh Sans', sans-serif;
    
}


.card{
    height: 510px;
    width: 920px;
    background-color: whitesmoke;
    border-radius: 10px;
    position: relative;
    align-self: center;
    flex-direction: row;
}
.box{
    margin-top: 60px;
    margin-right: 60px;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.women{
    float: left;
    justify-content: center;
}

.text{
    text-align: left;
    max-height: 510px;
    align-items: center;
  justify-content: center;
  position: relative;
}  
